:root {
  --light-text: #d9dcd6;
  --sidebar-background: #16425b;
  --title-color: #2f6690;
  --main-text: black;
  --non-used: #3a7ca5
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CONTAINER */
#container {
  display: grid;  
  width: 100vw;
  height: 100vh;
  margin: 0 0;  
  display: grid;
  grid-template-columns: 330px auto;
  /* I have to find a way to make it bigger when the text doesn't fit */
  grid-template-rows: 50px auto;
  grid-template-areas:
  "sidebar topbar"
  "sidebar content";
}

/* ITEM */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  text-align: center;
  box-shadow: 1px 2px 3px grey;
  border-radius: 0px;
  color: #222;
  font-size: 2em;
  font-family: arial, sans-serif;
  background-color: #f9d423;
  font-weight: bold;
  cursor: pointer;
}
.item:hover {
  color: #ff123d;
}


.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-background);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 330px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 2fr 1fr);
}

.two {
  grid-area: topbar;
  background-color: var(--title-color);
  position: sticky;
  top: 0;
}

.three {
  grid-area: content;
  background-color: white;
}



/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  width: 80%;
  right: 50%;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

.info-texto {
  color: var(--light-text);
  font-family: "Playfair Display", serif;
  font-style: normal;
  margin-top: 0;
  text-align: center;

}

.info-text #name {
  font-size: 14pt;
  font-weight: 900;
}

.info-text #info {
  font-size: 14pt;
  font-weight: 500;
}

.info-text #text {
  font-size: 14pt;
  font-weight: 500;
}

.sidebar p {
  color: var(--light-text);
  font-family: "Playfair Display", serif;
  font-size: 14pt;
  font-weight: 100;
  font-style: normal;
}

img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 2px solid black;
}

#center-content {
  display: flex;
  align-content: center;
  justify-content: center;
}

