/*
TODO: 
- fix dimension on multiple devices 
- fix language position by padding (i need the text to align with the right border)
- Implement grid
*/

/* https://coolors.co/palette/2f6690-3a7ca5-d9dcd6-16425b-81c3d7 */
:root {
  --light-text: #d9dcd6;
  --sidebar-background: #16425b;
  --title-color: #2f6690;
  --main-text: black;
  --non-used: #3a7ca5
}

/* Content style options */

#container {
  width: 99vw;
  height: 98vh;
  margin: 0 auto;  
  outline: 8px solid #4834d4;
  display: grid;
  grid-template-columns: 330px auto;
  /* I have to find a way to make it bigger when the text doesn't fit */
  grid-template-rows: 50px auto;
  grid-template-areas:
  "sidebar topbar"
  "sidebar content";
}


/* Grid content and child attributes */
.content {
  grid-area: content;
}

/* Sidebar attributes*/
.sidebar {
  background-color: var(--sidebar-background);
  background-color: green;
  position: fixed;
  box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.3);

  grid-area: sidebar;
  
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

/* Top bar style options */

.topbar {
  background-color: var(--title-color);
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  grid-area: topbar;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* ITEM */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  text-align: center;
  box-shadow: 1px 2px 3px grey;
  border-radius: 8px;
  color: #222;
  font-size: 2em;
  font-family: arial, sans-serif;
  background-color: #f9d423;
  font-weight: bold;
  cursor: pointer;
}
.item:hover {
  color: #fff;
}

.sidebar {
  grid-area: sidebar
}

.two {
  grid-area: topbar
}

.three {
  grid-area: content
}
